*{
    margin: 0;
    padding: 0;
    scroll-behavior: 0;
}
body{
    background-image: url(sakil/room.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
  
}
.h0{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    color: red;
   
}
.h2 a{
    text-decoration: none;
    margin-left: 40px;
    color: red;
}

.s0{
    width: 70%;
    margin: 150px auto;

}
.s0 h1{
    font-size:40px;
    margin-bottom: 10px;
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.s0 p{
 color: rgb(5, 140, 251);
 margin-bottom: 10px;
}

.s0 a{
    text-decoration: none;
    /* text-align: center; */
    /* display: block; */
margin-left: 40px;
color: white;
border: 2px solid cadetblue;
border-radius: 20px;
padding: 5px;
margin-top: 10px;

}
.s0 a:hover{
    background-color: aqua;
    cursor: pointer;

}